<div width="600" height="400"></div>
<div width="600" height="400">
	<table width="500" height="40" background="white" 	>
		<tr>
			<td> 
				<h1>Hello,Rails</h1>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to "My blog",posts_path %>
			</td>
		</tr>
	</table>
</div>

<a href=""></a>