<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML xmlns="http://www.w3.org/1999/xhtml">

<HEAD>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <TITLE>残梦 - Lemon的日志  交大论坛   </TITLE>

    <BASE href=".">
	<LINK rel="stylesheet" type="text/css" href="./残梦 - Lemon的日志 交大论坛_files/style_2_common.css">
	<LINK rel="stylesheet" type="text/css" href="./残梦 - Lemon的日志 交大论坛_files/style_2_home_space.css">
    <SCRIPT src="./残梦 - Lemon的日志 交大论坛_files/common.js" type="text/javascript"></SCRIPT>
    <SCRIPT src="./残梦 - Lemon的日志 交大论坛_files/home.js" type="text/javascript"></SCRIPT>
    <LINK rel="stylesheet" type="text/css" href="./残梦 - Lemon的日志 交大论坛_files/style_2_css_space.css">
    <LINK id="style_css" rel="stylesheet" type="text/css" href="./残梦 - Lemon的日志 交大论坛_files/style.css">
    <STYLE id="diy_style">#ct {background-repeat:repeat !important;}</STYLE>
</HEAD>

<BODY id="space" onkeydown="if(event.keyCode==27) return false;">
    <DIV id="append_parent"></DIV>
    <DIV id="ajaxwaitid"></DIV>

    <DIV id="hd" class="wp cl">
        <H2 id="spaceinfoshow"><STRONG id="spacename" class="mbn">Lemon的个人空间</STRONG>
            <SPAN class="xs0 xw0"></SPAN>
            <SPAN id="spacedescription" class="xs1 xw0 mtn"></SPAN>
        </H2>
        <DIV id="nv">
            <UL>
				<LI><A href="#">空间首页</A></LI>
				<LI><A href="#">动态</A></LI>
				<LI><A href="">记录</A></LI>
				<LI><A href="">日志</A></LI>
				<LI><A href="">相册</A></LI>
				<LI><A href="">分享</A></LI>
				<LI><A href="">好友</A></LI>
				<LI><A href="">留言板</A></LI>
				<LI><A href="">个人资料</A></LI>
			</UL>
		</DIV>
	</DIV>

	<DIV id="ct" class="ct2 wp cl">
		<DIV class="mn">
			<DIV class="bm">
				<DIV class="bm_h cl">
					<H1 class="mt">日志</H1>
				</DIV>
				<DIV class="bm_c">
					<DIV class="vw mbm">
						<DIV class="h pbm">
   							<H1 class="ph">残梦</H1>
   							<P class="xg2">
   								<SPAN class="xg1">已有 1 次阅读</SPAN><SPAN class="xg1">2012-10-17 23:07</SPAN>
   								<SPAN class="pipe">|</SPAN>
   								<SPAN class="ptg xg1"><A href="#" target="_blank">情感</A></SPAN>
   							</P>
						</DIV>
						<DIV id="blog_article" class="d cl">
							<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 昨夜失眠了，好久才入睡。躺在床上，我想了很久。我告诉自己，这样的失落不能长久，我必须调整好自己。人生不如意者，十有八九。每一天都会是新的一天，不应该把美好的一天变成无休止的发呆。</P><P>&nbsp;</P>
    						<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 常听人说：漫漫人生路，关键的就几步。人的一生要会有无数次选择，当站在人生的十字路口时，我们总会感觉到彷徨。弗罗斯特说，森林里分出两条路，可惜我不能同时涉足，我在那路口久久伫立，向着一条路极目望去，直到它消失在丛林深处。</P>
    						<P>&nbsp;</P>
    						<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 不管如何选择，至少首先是一个正直的人。尽管有时看起来不合时宜，多少让自己有些尴尬。随波逐流成本永远是最低的，大多数时候也是安全的。现在我没有，至少现在不是。时间是把无情的刀，未来如何，无法预料，能做的就是自省，让灵魂跟上急行地步伐。</P><P>&nbsp;</P>
    						<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 保尔柯察金说，人应当赶快的活。</P><P>&nbsp;</P>
    						<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 现在我只想说，我得赶快去睡。</P><P>&nbsp;</P>
  						    <P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一夜好梦……</P>
						</DIV>
						<DIV id="click_div">
	<TABLE cellpadding="0" cellspacing="0" class="atd">
        <TBODY>
	        <TR>
		        <TD>
                    <A href="#"><IMG src="./残梦 - Lemon的日志 交大论坛_files/luguo.gif" alt=""><BR>路过</A>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
						</DIV>
					</DIV>
				</DIV>
			</DIV>
		</DIV>
		<DIV class="sd"><DIV id="pcd" class="bm cl">
		<DIV>
		<DIV class="hm">
			<P><A href="#"><IMG src="./残梦 - Lemon的日志 交大论坛_files/avatar.php"></A></P>
			<H2 class="xs2"><A href="#">Lemon</A></H2>
		</DIV>
	</DIV>
</DIV>

    <DIV id="ft" class="wp cl">
		<DIV id="flk" class="y">
			<P><STRONG><A href="http://202.115.74.3/sns/upload/portal.php" target="_blank">锦城驿站</A></STRONG>
				( <A href="localhots:3000" target="_blank">测试</A> )  <SCRIPT src="./残梦 - Lemon的日志 交大论坛_files/stat.php" language="JavaScript"></SCRIPT><SCRIPT src="./残梦 - Lemon的日志 交大论坛_files/cnzz_core.php" charset="utf-8" type="text/javascript"></SCRIPT><A href="http://www.cnzz.com/stat/website.php?web_id=2593686" target="_blank" title="站长统计">站长统计</A>
			</P>
			<P class="xs0">
				GMT+8, 2012-10-20 11:27
				<SPAN id="debuginfo">, Processed in 0.039412 second(s), 12 queries.</SPAN>
			</P>
		</DIV>
		<DIV id="frt">
			
		</DIV>
	</DIV>
	<SPAN id="scrolltop" onclick="window.scrollTo(&#39;0&#39;,&#39;0&#39;)" style="left: 1160px; visibility: hidden; ">回顶部</SPAN>
	<SCRIPT type="text/javascript">_attachEvent(window, 'scroll', function(){showTopLink();});</SCRIPT>
</BODY>
</HTML>